@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* TACHYONS CLASSES */

.near-black {
  color:#111;
}

.bg-washed-red {
  background-color:#ffdfdf;
}

form {
  color:rgba(0,0,0,.8);
  padding:2rem;
  max-width: 30em;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
}

input {
  -webkit-appearance:none;-moz-appearance:none;
  border-style:solid;
  border-width:1px;
  border-color:rgba(0,0,0,.2);
  margin-bottom:.5rem;
  padding:.5rem;
  display:block;
  width: 100%;
}

.mr2 {
  margin-right:.5rem;
  display: inline-block;
  width: auto;
}

a {
  text-decoration:none;
  font-size:.875rem;
  opacity:1;
  border-radius:.25rem;
  padding-top:.5rem;
  padding-bottom:.5rem;
  padding-left:1rem;
  padding-right:1rem;
  margin-bottom:.5rem;
  display:inline-block;
  background-color:#555;
  color:#fff;
}

a:focus, a:hover {
  transition:opacity .15s ease-in; 
  opacity:.5;
}

a, a:active, a:focus, a:hover, a:link, a:visited {
  transition:color .15s ease-in;
}

a:focus {
  outline:1px dotted currentColor;
}

a:active {
  opacity:.8;
  transition:opacity .15s ease-out;
}

.add {
  background-color: #ffdfdf;
  border: solid 1px #111;
  border-width: .125rem;
  color: #111;
}

ul {
  padding-left:0;
  list-style-type:none;
  max-width:30em;
  margin-left:auto;
  margin-right:auto;
}

p {
  line-height:1.5;
  font-size:1rem;
  max-width:20em;
}

.strike {
  text-decoration:line-through;
}

li {
  line-height:1.5;
  padding-top:1rem;
  padding-bottom:1rem;
  border-style:solid;
  border-width:1px;
  border-top-width:0;
  border-left-width:0;
  border-style:dotted;
  border-right-width:0;
  border-color:rgba(0,0,0,.3);

}

span {
  font-size:1rem;
  display:inline-block;
  line-height:1.5;
  max-width:30em;
}

.lh-title {
  line-height:1.25;
  font-size: 4rem;
  font-weight: bold;
}

